body {
    background-color: rgba(243, 245, 252, 1);
    margin: 0%;
    padding: 0%;
}

app-root {
    display: inline-block;
    height: 100%;
    left: 0%;
    position: absolute;
    top: 0%;
    width: 100%;
}

.interFont {
    font-family: 'Inter', sans-serif;
}